.halfWindow{
    display:inline-block;
    width:100%;
    height:100%;
    text-align:left;
    --title-height-size:2em;
    .content{
        background-color:#aaa;
        width:100%;
        /* "- 10px" нужны для улудшения вилуализаций */
        height:calc(100% - var(--title-height-size) - 10px);
        overflow-x:hidden;
        overflow-y:scroll;
    }
    .title{
        color:#000;
        background-color:#888;
        width:100%;
        text-align:center;
        font-size:var(--title-height-size);
        display:block;
    }
}